<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-12">
        <h1>Alliance Fund Management</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-2 col-sm-7 col-sm-offset-1 col-xs-12">
        <h2>An Intermediary for Socially Responsible Funding</h2>
      </div>
    </div>
  </div>
</section>
<section id="summary-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <!--<div id="summary" class="anchor tag green aside">Summary</div>-->
        <div id="summary" class="anchor tag green"></div>
        <h3>Summary</h3>
        <p class="lede">
          Alliance Fund Management is focused on the long-term preservation of affordable multifamily
          housing. We finance eligible properties through the use of ultra competitive bridge financing
          for qualified municipalities, housing authorities, for profit organizations and §501( c )(3)
          organizations whose mission is owning and operating affordable multifamily housing. Our
          innovative financing is the first vital step towards a long-term preservation execution.
        </p>

        <div class="base-list">
          <div>As a community development focused investor, our financing is ideally suited for:</div>
          <div class="base-item">
            <i class="one">1</i>
            The acquisition of existing LIHTC properties*
          </div>
          <div class="base-item">
            <i class="two">2</i>
            Senior Housing
          </div>
          <div class="base-item">
            <i class="three">3</i>
            Properties with project-based section 8 contracts
          </div>
          <aside>
            <p>* Especially those with expiring low-income housing tax credits and/or where there
              is a need for eventual resyndication and preservation.</p>
          </aside>
        </div>
        <p>
          Unlike most bond buyers or lenders, we offer a strong and experienced team of housing
          finance and development professionals to assist borrowers in the process of obtaining
          permanent debt, and if appropriate, low income housing tax credits.
        </p>
      </div>
    </div>
  </div>
</section>
<div class="sep sep1"></div>
<section id="impact-investing-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div id="impact-investing" class="anchor tag green"></div>
        <h3><span class="highlight">Impact</span> Investing</h3>

        <p class="lede">The AFM Impact Bond Program&trade; &ldquo;IBP&rdquo; is a funding platform designed to
          help assure that the nation&rsquo;s existing affordable multifamily rental housing
          stock is maintained.</p>

        <p class="question lede">What kind of impact does AFM&rsquo;s IBP create?</p>

        <p>AFM provides qualified municipalities, housing authorities, for-profit organizations and §501( c )(3)
          borrowers the opportunity to competitively acquire apartment properties.</p>

        <p>Preservation of existing housing provides communities with continuity of affordable rental housing and
          in-place residents with the assurance that their home will not be converted to a condo or market rent
          unit.</p>

        <p>It is estimated that between 2014 and 2020 close to one-half of all of the existing low income housing tax
          credit properties will exit from their initial 15 year LIHTC restriction period (approximately two million
          units). Many of those properties could be converted to market rate apartments or even condos. We provide
          user friendly acquisition bridge financing to qualified borrowers whose mission includes assuring that
          these expiring properties are preserved as affordable housing</p>
      </div>
    </div>
  </div>
</section>

<section id="cra-investing-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div id="cra-investing" class="anchor tag red"></div>
        <h3><span class="highlight">CRA</span> Investing</h3>

        <p class="lede">
          As a national affordable housing financing platform, AFM provides CRA eligible investment-ready opportunities
          to national and regional financial institutions, thus reducing origination costs and risks.
        </p>

        <p>Because 100% of the assets collateralizing our bonds are for the preservation of &ldquo;at-risk&rdquo;
          affordable housing,
          AFM believes it&rsquo;s platform is a CRA qualified investment and will meet &ldquo;Investment Test&rdquo;
          and &ldquo;Creativity Test&rdquo;
          criteria. <i class="fa fa-asterisk"></i></p>

        <p>Assets may be targeted to an institution&rsquo;s assessment area.<br>
          Unlike direct LIHTC investments, AFM&rsquo;s bond investments are designed to have a 3-5 year duration.<br>
          CRA regulations do not differentiate between "direct" and "indirect" investments. Thus an institution's
          investment in a fund whose primary purpose is supporting community development and/or affordable housing
          should
          receive positive consideration as a qualified investment under the CRA regulations, subject in some cases to
          assessment area considerations.*
        </p>
        <aside>
          * While AFM has met with the FRB, OCC and the FDIC it is important for all regulated entities to
          independently verify CRA lending and investment test qualification.
        </aside>
      </div>
    </div>
  </div>
</section>
<div class="sep sep2"></div>
<section id="afm-team-wrapper">
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div id="afm-team" class="anchor tag blue"></div>
        <h3 class="anchor">The <span class="highlight">AFM</span> Team</h3>

        <p class="lede">
          Alliance Fund Management, LLC is an Atlanta, GA based organization whose principals are
          steeped in affordable multi-family rental housing. AFM has a strong and experienced
          management team in place. Together with our key corporate partners, the AFM Team stands
          ready to support our clients and our shared mission of preserving the nation's affordable
          housing for generations to come.
        </p>
      </div>
    </div>
    <div class="row">
      <aside class="col-md-offset-3 col-sm-offset-4 col-md-7 col-sm-8">
        <dl>
          <dt>Steven M.Wasserman</dt>
          <dd>CEO</dd>
          <dt>Peter H. Wasserman</dt>
          <dd>President</dd>
          <dt>Michael L. Kolodner</dt>
          <dd>CFO &amp; Director of Finance</dd>
          <dt>Daniel Rikkers</dt>
          <dd>VP Capital Markets</dd>
          <dt>David E. Wasserman</dt>
          <dd>VP Business Development</dd>
          <dt>David M. Perloe</dt>
          <dd>VP Business Development</dd>
        </dl>
      </aside>
    </div>
  </div>
</section>
<section class="partners">
  <div class="container">
    <div class="row ">
      <div class="col-md-3 col-sm-4">
        <h3>Key<br>Partners<br>in AFM</h3>
      </div>
      <div class="col-md-7 col-sm-8">
        <%= image_tag 'cfg_logo.jpg', class: 'util-responsive-image' %>
        <h5>CFG Capital Markets, LLC</h5>

        <p>
          CFG Capital Markets, LLC (&ldquo;CFGCM&rdquo;) is a fully registered (FINRA/SIPC/MSRB) Investment Banking and 
          Securities firm providing capital raising solutions for taxable and tax-exempt issuers and investment 
          advice for institutional investors.  CFGCM is an affiliate of the CFG Financial Services Companies 
          (&ldquo;CFG&rdquo;) which offers full-service, comprehensive financing solutions for multifamily properties and 
          healthcare facilities nationwide. CFG is an industry leader in managing HUD and bridge loan processes 
          and has provided over $2 billion in financings since its inception.                    
        </p>
        <%= image_tag 'trf_logo.jpg', class: 'util-responsive-image' %>
        <h5>The Reinvestment Fund</h5>

        <p>&ldquo;The Reinvestment Fund&rdquo; is a Community Development Financial Institution (&ldquo;CDFI&rdquo;)
          that manages $738 million in capital and has made over $1.3 billion in community investments, financing
          over 2,875 projects since its inception in 1985. TRF supports investments with strong research and policy
          analysis capacity that has become a highly regarded source of unbiased information for public officials
          and private investors.
        </p>


        <%= image_tag 'langdon_equities_logo.png', class: 'util-responsive-image' %>
        <h5>Langdon Equities</h5>

        <p>Langdon Equities, founded in 2006 and based in Phoenix, is a privately held commercial real estate advisory
          firm focused on providing clients strategic capital advice with a focus on integrity, professionalism and 
          confidentiality. Langdon&rsquo;s client base varies from high net worth individuals to regional developers 
          to institutional investors.</p>
      </div>
    </div>
  </div>
</section>
<div class="sep sep3"></div>
<section id="contact-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div id="contact" class="anchor tag green"></div>
        <h3><span class="highlight">Contact</span></h3>

        <p>Our office is located at 4779 S Atlanta Road SE, Suite 200, Atlanta, GA 30339<br>
          <%= link_to 'Google Maps', 'https://www.google.com/maps/place/4779+S+Atlanta+Rd+SE+%23200,+Smyrna,+GA+30080/@33.8375433,-84.4758961,17z/data=!4m2!3m1!1s0x88f51a8921eaa57b:0x5fdb6fc8140c473d',
                      class: 'btn btn-sm btn-primary',
                      target: '_blank' %>
        </p>
        <dl>
          <dt>Phone</dt>
          <dd>770-874-8800</dd>
          <dt>Fax</dt>
          <dd>770-874-7788</dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 ">
        <p class="divided">If you have a particular deal that you would like to discuss, please contact David M. Perloe at
          770-874-8800 x102 or via <%= mail_to 'info@afm123.com' do %>email
          <%- end %>.</p>

        <p>For additional information please contact Peter Wasserman at 770-874-8800 x101</p>
        <aside>
          We welcome communication at any time from existing or potential investors as well as potential industry
          collaboration partners.
        </aside>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-2 col-sm-4">
        <h4>Location</h4>
        <address>
          4779 Atlanta Road SE<br>
          Suite 200<br>
          Atlanta, GA 30339<br>
        </address>
      </div>
      <div class="col-md-2 col-sm-4">
        <h4>Contact</h4>
        T: <a class='tel' href="tel:+17708748800">770-874-8800</a><br>
        F: 770-874-7788<br>
        <%= mail_to 'info@afm123.com' %>
      </div>
      <div class="col-md-3 col-sm-4 util-center">
      </div>
    </div>
  </div>
</footer>